 *{
    padding: 0;
    margin: 0;
}
p{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
}
.Login{
    background-color: blue;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto{
    width: 50%;
    height: 100vh;
    background-image: url(imagen.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imagen{
    background-size:auto;
}
